@mixin theme() {
  @include mat-core();
  $app-primary: mat-palette($mat-light-blue, 600);
  $app-accent:  mat-palette($mat-deep-purple, 400);
  $warn:  mat-palette($mat-red, A200, A100, A400);
  $app-theme: mat-light-theme($app-primary, $app-accent);
  @include angular-material-theme($app-theme);
}

@mixin page() {
  :host {
    display: block;
    min-height: 100%;
  }
}

@mixin static-page() {
  :host {
    display: block;
    height: 100%;
    width: 100%;
  }
}

@mixin main() {
  :host {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
  }
}


///

@mixin cicon-sprite($url, $height) {
  display: inline-block;
  font: normal normal normal 14px/1 Arial;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);
  vertical-align: middle;

  &:before,
  &:after {
    box-sizing: border-box;
  }

  &:before {
    height: $height;
    background-image: url($url);
    background-repeat: no-repeat;
  }
}

@mixin cicon-sprite-add($pos, $width) {
  &:before {
    display: inline-block;
    content: '';
    background-position: $pos;
    width: $width;
  }
}

@mixin cicon-sprite-add-active($pos, $width, $posActive) {
  &:before {
    display: inline-block;
    content: '';
    background-position: $pos;
    width: $width;
  }
  &:hover {
    &:before {
      background-position: $posActive;
    }
  }
  &.active &:before {
    background-position: $posActive;
  }
}

@mixin cicon-sprite-add-active-only($pos) {
  &:before {
    background-position: $pos;
  }
}

@mixin animation-content() {
  //animation: fadein 0.5s;
}

@mixin remove-content-padding() {
  $sub: -($grid-gutter-width / 2);
  margin: 0 $sub;
}
