@import "~@angular/material/theming";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@import "utils";
@import "fonts";
@import url('//cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css');
@import "~bootstrap/scss/bootstrap-grid";
 @import "~swiper/dist/css/swiper.min.css";

@include theme();

.container-ftm {
  @include make-container();
  @include make-container-max-widths($container-ftm-max-widths, $grid-breakpoints);

  &_flex {
    display: flex;
    flex: 1 0;
  }
}

html, body {
  font-family: $font-roboto;
  font-size: 16px;
  height: 100%;
}

body {
  //overflow-y: scroll;
}

.mat-spinner {
  margin: auto;
}

//////////////////////////////////

.drug-card {
  margin-bottom: 2rem;
  padding: 1rem;
}

.drug-card-link {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.drug-card-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.drug-card-description {
  font-size: 16px;
  font-weight: 400;
}

.drug-card-price {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 1rem;
}

.drug-card-actions {
  display: flex;
  flex-flow: row nowrap;
}

.drugs-card-link {
  flex: 1 0;
}

.drug-card-group {
  margin-bottom: 1rem;
}
