<div class="promo-card">
  <div class="container-ftm">
    <div class="promo-logo">
      <img class="promo-logo__src" src="/assets/images/logo.png" alt="DruX logo">
    </div>
    <h2 class="promo-title">DruX</h2>

    <div  class="swiper-container promo-slider" [swiper]="swiperConfig">
      <div class="swiper-wrapper">
        <div class="swiper-slide promo-slide">
          Определите диазноз по вашим симптомам
        </div>
        <div class="swiper-slide promo-slide">
          Подберите подходящее лечение на основе вашего диагноза
        </div>
        <div class="swiper-slide promo-slide">
          Узнайте подробную информацию о препаратах и заболеваниях.
        </div>
      </div>

      <div class="swiper-pagination"></div>
      <!--<div class="swiper-button-prev"></div>-->
      <!--<div class="swiper-button-next"></div>-->
    </div>
    <div class="promo-start">
      <button mat-raised-button class="btn-promo-start" type="button" routerLink="/dashboard">Продолжить</button>
    </div>
  </div>
</div>
