@import "../core/stylesheets/utils";

:host {
  display: block;
  min-height: 100%;
  background-color: mat-color($mat-light-blue, 600);

  //position: relative;
  //height: 100vh;
  //top: -56px;
  //
  //@include media-breakpoint-up(sm) {
  //  top: -64px;
  //}
}

.promo-card {
  text-align: center;
  padding: 1.5rem 0;
  height: 100%;
  color: #fff;
}

.promo-logo {
  width: 165px;
  margin: 0 auto 1.5rem auto;

  &__src {
    max-width: 100%;
  }
}

.promo-title {
  margin: 1.5rem 0;
  font-size: 40px;
  font-family: $font-roboto;
  font-weight: 700;
  color: #fff;
}

.promo-slider {
  margin-bottom: 1.5rem;
}

.promo-slide {
  min-height: 85px;
}

.btn-promo-start {
  color: mat-color($mat-light-blue, 600);
}

/deep/ .swiper-pagination-bullet-active {
  background-color: #fff;

  &:focus {
    border: inherit;
    outline: inherit;
  }
}
