@import "../core/stylesheets/utils";

@include page();

.about {
  display: block;
  padding: 1rem;
}

.about-title {
  margin: 0 0 1rem 0;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
}
