<div class="about">
  <header>
    <h2 class="about-title">DRUX Application</h2>
  </header>
  <div class="about-description">
    <p>
      <strong>DRUX</strong> - мобильное приложение, основными задачами которого, является определение заболевания и подбор
      лечения, с учетом индивидуальных особенностей пользовтеля.
    </p>
    <p>
      DRUX содержит в себе базу лекарств и заболеваний, которая храниться в OWL (формат описания знаний), что позволяет строить сложные связи.
      Весь проект основывается на онтологиях, и их применении (логический вывод, получение новых знаний).
    </p>
    <p>
      Иными словами, DRUX - это экспертная система, которая должна устранить понимание между человеком и информационной, интерелектуальной системой.
    </p>
  </div>
  <footer>
    <p>Если вы заинтересованны проектом,то можете связаться с нами позвонив нам или отправив сообщение на одиз из электронных адресов, указанных ниже:</p>
    <p><strong>Телефон</strong>: <br>+7 923 708 7270 <br>(Telegram, Viber, Whatsapp)</p>
    <p><strong>Email</strong>: <br> saa@ftm.pm, fafnur@yandex.ru</p>
    <p><strong>Skype</strong>: <br> fafnur1</p>
  </footer>
</div>
