<div class="diagnosis">
  <form class="diagnosis-form" *ngIf="!diagnosis.diseases.length">
    <div class="diagnosis-form-box">
      <div class="diagnosis-form-box__action">
        <button  mat-raised-button type="button" color="primary" (click)="onSubmit($event)" [disabled]="!diagnosisControl.value || !diagnosisControl.value.length">Добавить</button>
      </div>

      <div class="diagnosis-form-box__control">
        <mat-form-field class="diagnosis-group diagnosis-group_wf">
          <input type="text" placeholder="Синптом, Заболевание" aria-label="Синптом, Заболевание" matInput [formControl]="diagnosisControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </form>

  <ng-container *ngIf="!submitted; else spinner;">
    <div class="diagnosis-card"  *ngIf="!diagnosis.symptoms.length && !diagnosis.diseases.length && !diagnosis.negativeSymptoms.length">
      <h4 class="diagnosis-card-title">Диагностика</h4>
      <div class="diagnosis-card-content">
        <p>
          Для того, чтобы определить диагноз, введите симптомы.
        </p>
        <p>Если вы знаете свое заболевание, то введите его и выберите.</p>
      </div>
    </div>

    <div class="diagnosis-card" *ngIf="diagnosis.symptoms.length && !diseases.size">
      <h4 class="diagnosis-card-title">Данных о заболевании нет</h4>
    </div>

    <div class="diagnosis-card" *ngIf="prediction && !diagnosis.diseases.length">
      <h4 class="diagnosis-card-title">Уточнение диагноза</h4>
      <div class="diagnosis-card-content">
        <p>
          Есть ли у вас симптом - <strong>{{ prediction }}</strong>?
        </p>
        <button mat-raised-button color="primary" (click)="onSelectSymptom(prediction)">Да</button>
        <button mat-raised-button (click)="onSelectNegativeSymptom(prediction)">Нет</button>
      </div>
    </div>

    <div class="diagnosis-card" *ngIf="diseases.size && (diagnosis.symptoms.length || diagnosis.diseases.length || diagnosis.negativeSymptoms.length)">
      <h4 class="diagnosis-card-title">Возможные заболевания</h4>
      <div class="diagnosis-card-content">
        <div class="diagnosis-card-view diagnosis-card-view_v1" *ngFor="let disease of diseases;">
          <div class="diagnosis-card-view__value">
            {{ disease }}
          </div>
          <div class="diagnosis-card-view__action">
            <ng-container *ngIf="!isSelectDisease(disease)">
              <button mat-raised-button color="accent" (click)="onSelectDisease(disease)">Выбрать</button>
            </ng-container>
            <ng-container *ngIf="isSelectDisease(disease)">
              <button mat-raised-button color="warn" (click)="onRemoveDisease(disease)">Удалить</button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

    <div class="diagnosis-card" *ngIf="diagnosis.symptoms.length || diagnosis.diseases.length">
      <h4 class="diagnosis-card-title">Указанные заболевания, симптомы</h4>
      <div class="diagnosis-card-content">
        <div class="diagnosis-card-diseases" *ngIf="diagnosis.diseases.length">
          <div class="diagnosis-card-view diagnosis-card-view_v1" *ngFor="let disease of diagnosis.diseases;">
            <div class="diagnosis-card-view__value">
              {{ disease }}
            </div>
            <div class="diagnosis-card-view__action">
              <button mat-icon-button (click)="onRemoveDisease(disease)">
                <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
              </button>
            </div>
          </div>
        </div>
        <div *ngIf="diagnosis.symptoms.length">
          <div class="diagnosis-card-view diagnosis-card-view_v1" *ngFor="let symptom of diagnosis.symptoms;">
            <div class="diagnosis-card-view__value">
              {{ symptom }}
            </div>
            <div class="diagnosis-card-view__action">
              <button mat-icon-button (click)="onRemoveSymptom(symptom)">
                <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="diagnosis-card" *ngIf="diagnosis.negativeSymptoms.length">
      <h4 class="diagnosis-card-title">Отрицательные симптомы</h4>
      <div class="diagnosis-card-content">
        <div class="diagnosis-card-view diagnosis-card-view_v1" *ngFor="let negativeSymptom of diagnosis.negativeSymptoms;">
          <div class="diagnosis-card-view__value">
            {{ negativeSymptom }}
          </div>
          <div class="diagnosis-card-view__action">
            <button mat-icon-button (click)="onRemoveNegativeSymptom(negativeSymptom)">
              <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>

<ng-template #spinner>
  <mat-spinner></mat-spinner>
</ng-template>
