@import "../core/stylesheets/utils";

@include page();

.setting {
  padding: 1rem;
}

.setting-group {
  margin-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.setting-label {
  font-weight: 700;
}
