<div class="setting">
  <div class="setting-content">
    <div class="setting-group">
      <div class="setting-label">Версия приложения:</div>
      <div class="setting-value">Сборка 0.1.1</div>
      <div class="setting-value">MedExpert 0.1.5 (17.05.2018)</div>
    </div>
    <div class="setting-group">
      <div class="setting-label">Разработано:</div>
      <div class="setting-value">FTM PM LLC</div>
    </div>
    <div class="setting-group">
      <div class="setting-label">Служба поддержки:</div>
      <div class="setting-value">тел: +7 923 708 7270</div>
      <div class="setting-value">email: saa@ftm.pm</div>
      <div class="setting-value">email: fafnur@yandex.ru</div>
    </div>
  </div>
</div>
