<div class="drugs">

  <div class="diagnosis-card" *ngIf="!diagnosis.diseases.length">
    <h4 class="diagnosis-card-title">Заболевание не выбрано</h4>
    <div class="diagnosis-card-content">
      <p>
        Для того, чтобы подобрать препараты для лечения зеболевания, необходимо сначала определить забовалевание.
      </p>
      <p>
        <button mat-raised-button color="primary" type="button" routerLink="'/diagnostics/analyze'">Начать диагностику</button>
      </p>
    </div>
  </div>

  <ng-container *ngIf="diagnosis.diseases.length">
    <form class="drugs-form">
      <div class="drugs-form-box">
        <div class="drugs-form-box__action">
          <button mat-raised-button type="button" color="primary" (click)="onSubmit($event)"
                  [disabled]="!diagnosisControl.value || !diagnosisControl.value.length">Добавить
          </button>
        </div>

        <div class="drugs-form-box__control">
          <mat-form-field class="drugs-group diagnosis-group_wf">
            <input type="text" placeholder="Противопоказания" aria-label="Синптом, Заболевание" matInput
                   [formControl]="diagnosisControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{ option }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
    </form>

    <ng-container *ngIf="!submitted; else spinner;">

      <div class="drugs-card" *ngIf="diagnosis.contraindications.length">
        <h4 class="drugs-card-title">Противопоказания</h4>
        <div class="drugs-card-content">
          <div class="drugs-card-view diagnosis-card-view_v1"
               *ngFor="let contraindication of diagnosis.contraindications;">
            <div class="drugs-card-view__value">
              {{ contraindication }}
            </div>
            <div class="drugs-card-view__action">
              <button mat-icon-button (click)="onRemoveContraindication(contraindication)">
                <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="drugs-card" *ngIf="drugs.length">
        <h4 class="drugs-card-title">Препараты</h4>
        <div class="drugs-card-content">
          <ng-container *ngFor="let drug of drugs;">

            <mat-card class="drug-card">
              <a class="drug-card-link" routerLink="/catalog/drug/{{drug.name}}">
                <img mat-card-image src="/assets/images/drug.jpg" alt="{{ drug.name }}">
              </a>
              <mat-card-content>
                <div class="drug-card-title">
                  {{ drug.name }}
                </div>
                <div class="drug-card-price">
                  <strong>цена:</strong> {{ drug.price }} руб.
                </div>
                <div class="drug-card-description">
                  {{ getDesription(drug.description) }}
                </div>
              </mat-card-content>
              <mat-card-actions class="drug-card-actions">
                <a class="drugs-card-link" mat-button  href="{{ drug.link }}" target="_blank">Ссылка</a>
                <a class="drugs-card-link" mat-button color="primary" routerLink="/catalog/drug/{{drug.name}}">Подробнее</a>
              </mat-card-actions>
            </mat-card>
          </ng-container>
        </div>
      </div>

    </ng-container>
  </ng-container>

</div>

<ng-template #spinner>
  <mat-spinner></mat-spinner>
</ng-template>
