<div class="drugs" *ngIf="options">

  <form class="drugs-form" *ngIf="!drug">
    <div class="drugs-form-box">
      <div class="drugs-form-box__action">
        <button mat-raised-button type="button" color="primary" (click)="onSubmit($event)"
                [disabled]="!diagnosisControl.value || !diagnosisControl.value.length">Добавить
        </button>
      </div>

      <div class="drugs-form-box__control">
        <mat-form-field class="drugs-group diagnosis-group_wf">
          <input type="text" placeholder="Препарат" aria-label="Препарат" matInput
                 [formControl]="diagnosisControl" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{ option }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
  </form>

  <ng-container *ngIf="!submitted; else spinner;">

    <div class="diagnosis-card" *ngIf="!drug">
      <h4 class="diagnosis-card-title">Лекартсво не выбрано</h4>
      <div class="diagnosis-card-content">
        <p>
          Для того, чтобы узнать какие болезни лечит лекарство, введите название лекартсва.
        </p>
      </div>
    </div>

    <div class="drugs-card" *ngIf="drug">
      <h4 class="drugs-card-title">Препарат</h4>
      <div class="drugs-card-content">
        <div class="drugs-card-view diagnosis-card-view_v1">
          <div class="drugs-card-view__value">
            {{ drug }}
          </div>
          <div class="drugs-card-view__action">
            <button mat-icon-button (click)="onRemoveDrug()">
              <mat-icon aria-label="Example icon-button with a heart icon">close</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="drugs-card" *ngIf="drug && diseases.length">
      <h4 class="drugs-card-title">Болезни</h4>
      <div class="drugs-card-content">
        <ng-container *ngFor="let disease of diseases;">
          <mat-card>
            {{ disease }}
          </mat-card>
        </ng-container>
      </div>
    </div>

    <div *ngIf="drug && !diseases.length">
      Данное лекарсто не лечит болезни!?
    </div>

  </ng-container>

</div>

<ng-template #spinner>
  <mat-spinner></mat-spinner>
</ng-template>
