@import "../../../core/stylesheets/utils";

@include page();

:host {
  height: 100%;
}

.drugs {
  min-height: 100%;
  height: 100%;
  padding: 1rem;
}

.drugs-group {
  &_wf {
    width: 100%;
  }
}

.drugs-form-box {
  @include clearfix();

  &__control {
    margin-right: 100px;
  }

  &__action {
    float: right;
    width: 100px;
  }

  &__action .mat-button,
  &__action .mat-raised-button {
    margin-top: 10px;
  }
}

.drugs-card {
  margin-bottom: 1rem;
  border-bottom: 1px solid mat-color($mat-gray, 300);
  padding-bottom: 1rem;

  &:last-child {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.drugs-card-diseases {
  margin-bottom: 1rem;
  border-bottom: 1px solid mat-color($mat-gray, 300);
  padding-bottom: 1rem;
}

.drugs-card-view {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: 0.15rem;


  &__value {
    margin: auto 0;
  }
  &__action {}

  &:last-child {
    margin-bottom: 0;
  }

  // Views
  &_v1 {
    min-height: 36px;
  }

  &_v1  .mat-raised-button {
    min-width: 90px;
  }
}
