<div class="drug-list">
  <ng-container *ngFor="let drug of drugs;">

    <mat-card class="drug-card">
      <a class="drug-card-link" routerLink="/catalog/drug/{{drug.name}}">
        <img mat-card-image src="/assets/images/drug.jpg" alt="{{ drug.name }}">
      </a>
      <mat-card-content>
        <div class="drug-card-title">
          {{ drug.name }}
        </div>
        <div class="drug-card-price">
          <strong>цена:</strong> {{ drug.price }} руб.
        </div>
        <div class="drug-card-description">
          {{ getDesription(drug.description) }}
        </div>
      </mat-card-content>
      <mat-card-actions class="drug-card-actions">
        <a class="drugs-card-link" mat-button  href="{{ drug.link }}" target="_blank">Ссылка</a>
        <a class="drugs-card-link" mat-button color="primary" routerLink="/catalog/drug/{{drug.name}}">Подробнее</a>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
