<mat-card class="drug-card" *ngIf="drug">
  <a class="drug-card-link" routerLink="/catalog/drug/{{drug.name}}">
    <img mat-card-image src="/assets/images/drug.jpg" alt="{{ drug.name }}">
  </a>
  <mat-card-content>
    <div class="drug-card-title">
      {{ drug.name }}
    </div>
    <div class="drug-card-price">
      <strong>цена:</strong> <br>
      {{ drug.price }} руб.
    </div>

    <div class="drug-card-group drug-card-description">
      {{ drug.description }}
    </div>
    <div class="drug-card-group">
      <strong>Лечит:</strong> <br>
      <ng-container *ngFor="let disease of drug.cure">{{ disease }},</ng-container>
    </div>
    <div class="drug-card-group">
      <strong>Способ-применения:</strong> <br>
      {{ drug.methodOfApplication }}
    </div>
    <div class="drug-card-group">
      <strong>Взаимодействие:</strong> {{ drug.interaction }}
    </div>
    <div class="drug-card-group">
      <strong>Ссылка на сайт:</strong> <br>
      <a class="drugs-card-link" mat-button href="{{ drug.link }}" target="_blank">перейти</a>
    </div>
  </mat-card-content>
</mat-card>
