<mat-sidenav-container class="layout">
  <mat-sidenav class="layout-sidenav" mode="side" [opened]="opened" [mode]="'push'" (closed)="opened = false">
    <mat-card class="profile-card">
      <mat-card-header>
        <img mat-card-avatar class="profile-card-image" src="/assets/images/avatar.jpg" alt="avatar">
        <mat-card-title>Александр</mat-card-title>
        <mat-card-subtitle>Пациент</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
    <div>
      <p class="profile-content">
        Медицинское заключение о состоянии здоровья обследуемого, а также сущности болезни и состоянии пациента,
        выраженное в принятой медицинской терминологии и основанное на всестороннем систематическом изучении пациента.
        Процесс установления диагноза называется диагностикой.
      </p>
      <p class="profile-content profile-content_tac">
        <a mat-raised-button color="primary" routerLink="/promo" (click)="onLogout()">Выйти</a>
      </p>
    </div>


  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="layout-header">
      <mat-toolbar-row>
        <mat-icon class="toolbar-icon toolbar-icon_menu" (click)="opened = !opened">menu</mat-icon>
        <div class="brand" routerLink="/dashboard">DruX</div>
        <a class="toolbar-link toolbar-link_more_vert" routerLink="/setting">
          <mat-icon class="toolbar-icon toolbar-icon_more_vert" >more_vert</mat-icon>
        </a>
      </mat-toolbar-row>
    </mat-toolbar>
    <main class="layout-main">
      <router-outlet></router-outlet>
    </main>
    <footer class="layout-footer">
      <nav class="footer-menu">
        <a mat-button class="footer-menu__link" routerLink="/diagnostics">
          <mat-icon class="footer-icon">search</mat-icon>
        </a>
        <a mat-button class="footer-menu__link" routerLink="/catalog">
          <mat-icon class="footer-icon" >list</mat-icon>
        </a>
        <a mat-button class="footer-menu__link" routerLink="/about">
          <mat-icon class="footer-icon" >help</mat-icon><!-- create -->
        </a>
      </nav>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
