@import "../../stylesheets/utils";

.layout {
  display: block;
  min-height: 100%;
  height: 100%;

  /deep/ .mat-button:hover .mat-button-focus-overlay,
  /deep/  .mat-stroked-button:hover .mat-button-focus-overlay {
    display: none;
  }

  .mat-sidenav-content {
    display: flex;
    flex-flow: column;
    flex-flow: column nowrap;
  }

  &.mat-drawer-container {
    background-color: #fff;
  }
}

.layout-sidenav {
  width: 240px;
}

.toolbar-icon {
  cursor: pointer;
  width: 54px;
  padding: 1rem;
  height: inherit;
  color: #fff;
  position: relative;
  z-index: 1;

  &_menu {
    margin-left: -1rem;
  }
  &_more_vert {
  }
}

.toolbar-link {
  &_more_vert {
    display: inline-block;
    width: 54px;
    margin-right: -1rem;
  }
}

.brand {
  color: #fff;
  cursor: pointer;
  display: block;
  flex: 1 1 auto;
  text-align: center;
  text-decoration: none;

  &:hover,
  &:focus,
  &:focus:active {
    background: transparent;
    outline: none;
    text-decoration: none;
  }
}

.layout-header {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
}

.layout-main {
  flex: 1 0;
  margin-top: 56px;
  margin-bottom: 52px;

  @include media-breakpoint-up(sm) {
    margin-top: 64px;
  }
}

.layout-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.footer-menu {
  background-color: #fff;
  border-top: 1px solid mat-color($mat-gray, 300);
  display: flex;
  flex-flow: row nowrap;
  width: 100%;

  &__link {
    display: block;
    flex-grow: 1;
    padding: 0.5rem;
    text-align: center;
    border-right: 1px solid mat-color($mat-gray, 300);
  }

  &__link:last-child {
    border-right: none;
  }
}

.footer-icon {
  color: mat-color($mat-gray, 600);
  font-size: 26px;
  height: 26px;
  width: 26px;
}

/////////////
.profile-card {
  padding: 1rem;

  .mat-card-subtitle {
    margin-bottom: 0;
  }
}
.profile-image {
  max-width: 100%;
}

.profile-content {
  padding: 0 1rem;

  &_tac {
    text-align: center;
  }
}
.profile-card-image {
}
