
<div class="dashbord">
  <div class="dashbord-x">
    <p>
      Вы можете попределить заболевание по синптомам или же получить ифнормацию о конкретном лекарстве.
    </p>
  </div>
  <nav class="dashbord-menu">
    <a mat-raised-button color="primary" class="dashbord-menu__link" routerLink="/diagnostics">
      Диагностика и подбор препаратов
    </a>
    <a mat-raised-button color="primary" class="dashbord-menu__link" routerLink="/catalog">
      Информация о лекарствах
    </a>
    <a mat-raised-button color="primary" class="dashbord-menu__link" routerLink="/about">
      О приложении
    </a>
  </nav>
</div>
